@charset "utf-8";

/* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
list-style: none;
}
a{
text-decoration: none;
}
img{
vertical-align: bottom;
}

/* 共通部分 */
header{
padding: 40px 0;
}
h1{
text-align: center;
  font-family: "Yuji Boku", serif;
font-size: 40px;
}
.g-nav{
width: 100%;
height: 50px;
background-color: #ff00f2;
}
.g-nav>ul{
display: flex;
max-width: 960px;
margin: 0 auto;
}
.g-nav li{
width: 20%;
}
.g-nav a{
color: #ffffff;
display: block;
text-align: center;
line-height: 50px;
border-left: 1px solid #ffffff;
  font-family: "Yuji Boku", serif;
font-size: 20px;
}
.g-nav li:last-of-type>a{
border-right: 1px solid #ffffff;
}
.g-nav a:hover{
background-color: #6d0968;
}

footer{
width: 100%;
height: 100px;
background-color: #ff00f2;
}
footer>p{
text-align: center;
color: #ffffff;
line-height: 100px;
}

main{
max-width: 960px;
margin: 50px auto 100px;
}

/* トップページ */
.main-visual{
aspect-ratio: 2/1; /* 横／縦の比率 */
margin-bottom: 100px;
}
.main-visual>img{
object-fit: cover;
object-position: center center;
width: 100%;
height: 100%;
}
.main-copy>h2{
text-align: center;
font-size: 25px;
margin-bottom: 30px;
  font-family: "Yuji Boku", serif;
}
.main-copy>p{
max-width: 600px;
margin: 0 auto;
line-height: 2;
}

/* 季節ページ */
.wrapper{
display: flex;
gap: 0 40px;
flex-direction: row-reverse;
}
.text-box{
width: calc(100% - 62.5% - 40px);
}
.img-box{
width: 62.5%;
}
.text-box>h2{
margin-bottom: 20px;
font-size: 26px;
  font-family: "Yuji Boku", serif;
}
.text-box>p{
line-height: 1.75;
}

/* 各季節ページごとのパーツ */
.spring>.g-nav{
background-color: #1B813E;
}
.spring>footer{
background-color: #1B813E;
}
.summer>.g-nav{
background-color: #66BAB7;
}
.summer>footer{
background-color: #66BAB7;
}
.fall>.g-nav{
background-color: #ADA142;
}
.fall>footer{
background-color: #ADA142;
}
.winter>.g-nav{
background-color: #707C74;
}
.winter>footer{
background-color: #707C74;
}

/* currentの指定 */
.current>a{
background-color: #6d0968;
}

/* 960px以下 */
@media (max-width:960px){
main{
padding: 0 10px;
}
}

/* 767px以下 */
@media (max-width:767px){
.wrapper{
flex-direction: column-reverse;
gap: 80px 0;
}
header{
padding: 20px 0;
font-size: 40px;
}
.main-visual{
aspect-ratio: 1/0.8;
}
.text-box{
width: 100%;
}
.img-box{
width: 100%;
text-align: center;
}
}